@import '../../index.scss';

.About {
  @include respond-to('small') {
    margin-top: 2rem auto 4rem auto;
  }
  @include respond-to('large') {
    margin-top: 4rem auto;
  }

  .intro {
    max-width: $desktop-max-width;

    @include respond-to('small') {
      margin: 1rem 0 0 0.5rem;
    }
    @include respond-to('large') {
      margin: 4rem auto;
    }
  }
  .title {
    font-weight: 600 !important;
  }

  .about-section {
    max-width: $desktop-max-width;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
  }

  .top-ramp {
    @include respond-to('small') {
      height: 4rem;
    }

    @include respond-to('large') {
      height: 7rem;
    }

    background-image: linear-gradient(
      to bottom right,
      $white 50%,
      $background calc(50% + 1px)
    );
  }

  .bottom-ramp {
    @include respond-to('small') {
      height: 4rem;
    }

    @include respond-to('large') {
      height: 7rem;
    }
    background-image: linear-gradient(
      to top left,
      $white 50%,
      $background calc(50% + 1px)
    );
  }

  .background {
    background-color: $background;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to('small') {
      margin-bottom: 2rem;
    }

    @include respond-to('large') {
      margin-bottom: 0;
    }
  }

  .about-image {
    width: 75%;
  }

  .about-link {
    color: $hover !important;
    text-decoration: underline !important;
    font-weight: 700;
  }

  .about-link:hover {
    cursor: pointer;
  }

  .about-row {
    display: flex;
    @include respond-to('small') {
      flex-direction: column-reverse;
    }

    @include respond-to('large') {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .about-extra {
    @include respond-to('small') {
      display: none;
    }

    @include respond-to('large') {
      display: block;
    }
  }
}
