@import '../Home.scss';

.Recognition {
  margin: 4rem auto;
  margin-bottom: 0;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-with-background {
    width: 100%;
    background-image: linear-gradient(
      to bottom right,
      $white 50%,
      $background calc(50% + 1px)
    );
  }
  .titlebar-with-background {
    width: 100%;
    background-color: $background;
  }

  .header {
    margin-bottom: 0.5rem;
    font-weight: bold !important;
  }

  .description {
    margin-bottom: 1rem;
  }

  .container-title {
    font-weight: bold !important;
  }

  .background {
    background-color: $background;
  }

  .recognition-section {
    max-width: $desktop-max-width;
    padding-bottom: 8rem;
  }
}
