@import '../Home.scss';

.Work {
  margin: 4rem auto;
  margin-bottom: 0;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-with-background {
    width: 100%;
    background-image: linear-gradient(
      to bottom right,
      $white 50%,
      $background calc(50% + 1px)
    );
    z-index: -10;
    position: absolute;
  }

  .titlebar-with-background {
    width: 100%;
    background-color: $background;
  }

  .lord-icon {
    width: 80px;
    height: 80px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .header {
    margin-bottom: 0.5rem;
    font-weight: bold !important;
    z-index: 1 !important;
  }

  .description {
    margin-bottom: 1rem;
    z-index: 1;
  }

  .work-section {
    max-width: $desktop-max-width;
    padding-bottom: 8rem;
  }

  .background {
    background-color: $background;
  }

  .card {
    border: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  }

  .work-card {
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
  }

  .work-card::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(238, 74, 123, 0.3);
    transition: opacity 0.3s ease-in-out;
  }

  .work-card:hover::after {
    opacity: 1;
  }

  .work-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 4px 4px 20px rgba(238, 74, 123, 0.75);
  }

  .card-title {
    font-weight: 600 !important;
  }

  .card-body {
    padding: 2rem 2.5rem;
  }

  .left {
    @include respond-to('large') {
      margin-right: 2rem;
      padding-right: 0;
    }
  }

  .right {
    @include respond-to('large') {
      margin-top: 5rem;
      margin-left: 2rem;
      padding-left: 0;
    }
  }
}
