@import '../Home.scss';

.CommunityService {
  margin: 4rem auto;
  margin-top: 0;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-with-background {
    width: 100%;
    background-image: linear-gradient(
      to top left,
      $white 50%,
      $background calc(50% + 1px)
    );
  }

  .header {
    margin-bottom: 0.5rem;
    font-weight: bold !important;
  }

  .description {
    margin-bottom: 1rem;
  }

  .work-card {
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
  }

  .work-card::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(238, 74, 123, 0.3);
    transition: opacity 0.3s ease-in-out;
  }

  .work-card:hover::after {
    opacity: 1;
  }

  .work-card:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 4px 4px 20px rgba(238, 74, 123, 0.75);
  }

  .card {
    border: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  }
  .card-title {
    font-weight: 600 !important;
  }

  .card-body {
    padding: 2rem 2.5rem;
  }

  .communityservice-section {
    max-width: $desktop-max-width;
  }

  .left {
    margin-right: 2rem;
    padding-right: 0;
  }

  .right {
    margin-left: 2rem;
    padding-left: 0;
  }
}
