.Grid {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: none;
  padding: 0px;

  .line {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .wrapper {
    display: flex;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width: 1296px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
