@import '../../index.scss';

.Home {
  .Intro {
    max-width: $desktop-max-width;
    margin: 4rem auto;
    margin-bottom: 2rem;
  }
  
  .title {
    font-weight: 700 !important;
  }

  .lulu {
    color: $hover;
    text-decoration: underline;
  }
}