@import '../../index.scss';

.Home {
  .Intro {
    max-width: 1000px;
    margin: 4rem auto;
  }
  
  .title {
    font-weight: 700 !important;
  }

  .lulu {
    color: $hover;
    text-decoration: underline;
  }
}