@import '../../index.scss';

.Header {
  padding-left: 40px;
  padding-top: 20px !important;
  padding-right: 40px;

  .HeaderName {
    font-weight: 500 !important;
  }

  @include respond-to('small') {
    color: black;
  }

  @include respond-to('large') {
    color: black;
  }

  .navLink {
    text-decoration: none;
    padding: 0;
    color: $black !important;
  }

  .navLink:hover {
    color: $hover !important;
  }

  .nav-link {
    padding-top: 0px;
    font-weight: 500 !important;
  }

  .navbar {
    padding-top: 20px;
  }

  .social-icon {
    width: 24px;
    height: 24px;
    padding-top: 0px;
  }

  .social-icon:hover {
    fill: $hover;
  }
  
}