@import '../../index.scss';

.Password {
  margin: 4rem auto;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-header {
    margin-bottom: 0.5rem;
    font-weight: bold !important;
  }

  .title-with-background {
    width: 100%;
    background-image: linear-gradient(
      to bottom right,
      $white 50%,
      $background calc(50% + 1px)
    );

    @include respond-to('small') {
      text-align: center;
    }
  
    @include respond-to('large') {
      text-align: left;
    }
  }

  .titlebar-with-background {
    width: 100%;
    background-color: $background;
  }

  .description {
    margin-bottom: 1rem;
  }

  .password-section {
    max-width: $desktop-max-width;
  }

  .background {
    background-color: $background;
  }

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-ramp {
    height: 7rem;
    background-image: linear-gradient(
      to top left,
      $white 50%,
      $background calc(50% + 1px)
    );

    @include respond-to('small') {
      height: 4rem;
    }

    @include respond-to('large') {
      height: 7rem;
    }
  }

  .next-button {
    background-color: $hover;
    border: none;
    margin-top: 1.5rem;
    padding: 0rem 2rem;
    height: 38px;

    @include respond-to('small') {
      margin-left: 0rem;
    }
  
    @include respond-to('large') {
      margin-left: 3rem;
    }
  }

  .next-button:hover {
    background-color: $hover;
  }

  .password-form {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;

    @include respond-to('small') {
      flex-direction: row;
      align-items: end;
      width: 300px;
      margin-top: -3rem;
    }
  
    @include respond-to('large') {
      flex-direction: row;
      align-items: end;
      width: calc($desktop-max-width - 550px);
    }
  }
}
